extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b4778694-be89-9c03-0594-2e5a99f986ec.png',
        'Nuestra transformación continúa',
        'https://es.surveymonkey.com/r/V2BC252'
    )





