extends ../template/main
append variables 
    - pathImage = ''
block content

    +HERO_BANNER(
        'img/header_2.png',
        'Hero Banner Sodexo'
    )

    +TEXT(
        '<h3 style="color: #283897; text-align: left"; font-weight:bold>Estimado Cliente:</h3>'
    )

    +MARGIN(
        '25px'
    )

    +TEXT(
        '<p style="color: #283897;"></p>'
    )


    +HERO_BANNER(
        'img/footer.png',
        'Footer Sodexo'
    )