extends ../template/main
append variables 
    - pathImage = ''
block content

    +HERO_BANNER(
        'img/front01.png',
        'Hero Banner Sodexo'
    )
    +MARGIN(
        '25px'
    )

    +TEXT(
        '<article style="border: solid 1px #283897; border-radius: 20px; padding: 10px;"><h1 style="font-size:24px; color: #283897">Aprovecha al m치ximo tus tarjetas Sodexo</h1> <br> <img width="100%" style="max-width: 500px;" alt="Aprovecha al m치xim tus tarjetas Sodexo" src= "img/front02.png"></article>'
    )

    +MARGIN(
        '25px'
    )

    +HERO_BANNER(
        'img/front03.png',
        'Rebajas de reyes'
    )

    +MARGIN(
        '25px'
    )

    +HERO_BANNER(
        'img/front04.png',
        'Logos'
    )

    +MARGIN(
        '25px'
    )

    +HERO_BANNER(
        'img/front05.png',
        'Arranca el a침o ahorrando con sodexo'
    )

    +MARGIN(
        '25px'
    )

    +TEXT(
        '<a reel="noopener" target="_blank" href="#"><img width="100%" style="max-width: 250px;" alt="Aprovecha al m치ximo tus tarjetas Sodexo" src= "img/front06.png"></a>'
    )

    +MARGIN(
        '25px'
    )

    +HERO_BANNER(
        'img/footer.png',
        'Footer Sodexo'
    )