extends ../template/main
block content

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a30895d7-d8cb-9907-2b83-69984c32248f.png',
        'VentasNews'
    )
    +MARGIN("16")
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ae54ed1f-c650-4566-6ce2-a9d70609a766.png',
        ''
    )
    +MARGIN("16")
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/094f1a3e-27e6-19bd-af83-7832d9838884.png',
        ''
    )
    +MARGIN("16")
    
    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7b1c3ed0-624c-3f7b-2187-8cb28f914d1d.png',
        '',
        'https://mcusercontent.com/f8003344e5055720b1568282f/files/e84feb8d-0bc3-fda1-1244-8c5dbb6d36ba/ingreso_a_citimanager.pdf'
    )
    +MARGIN("16")
    
    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2331dcf9-b286-6927-bff0-618dffbb0b34.png',
        '',
        'mailto:infomed.mx@viatris.com'
    )
    +MARGIN("16")
    
    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/f9adbefd-89d4-5326-eae0-e518bb7d2a0e.png',
        '',
        'https://mcusercontent.com/f8003344e5055720b1568282f/files/28c5194f-6e20-97dc-49e5-c840b9810cda/conexion_vpn.pdf'
    )
    +MARGIN("16")
    
    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4674fe4b-dc8a-dc50-f695-3434a49abc8d.png',
        '',
        'mailto:speedster@viatris.com'
    )
    +MARGIN("16")
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b9898cf1-c6ee-546f-bc38-078cbc0101db.png',
        ''
    )
    +MARGIN("16")
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/883d5965-ad6b-b586-22bb-8ef17549d445.png',
        ''
    )