block variables
    include ../config/variables
include ../mixins/notas
include ../mixins/banner
include ../mixins/footer
include ../mixins/header
<!DOCTYPE html>
html(lang="es", xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 3M
    body
        center
            block content