extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0393102b-efee-d17f-1679-83b70abe2ee5.png',
        'Sodexo celebra a los pequeños'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/21327900-b7ca-787a-1245-5c423621097a.png',
        'Liverpool',
        'http://bit.ly/3UvzQpF'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8b6fe9a8-12ee-bb49-278d-fd9b692c3a37.png',
        'Farmacia San Pablo',
        'http://bit.ly/419VOki'
    )


    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/138ccb3b-6928-780b-3a9c-ec1565f3af70.png',
        'Olive Garden',
        'https://bit.ly/3KrfnOc',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c4df6657-cd0a-a77d-082b-b5a3e9afcda5.png',
        'Mejor Wings',
        'http://bit.ly/3UrqHhQ'
    )

    +THREE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/511fc25a-80b8-ac37-ca7f-46503dc12945.png',
        'Zapaterías La Joya',
        'http://bit.ly/3ZZKwhp',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/bb9e2b8a-904c-da03-3dd4-1d78bc30490e.png',
        'Gran Bodega siempre ahorro',
        'http://bit.ly/3zUoi5K',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/05619391-96da-aba3-ac10-d80fedcfbfd6.png',
        'Super Ta Barato',
        'http://bit.ly/3o7Usbl'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b4701a00-eafe-889f-ec38-7cd89c64dfba.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/03b73450-60b6-275e-e7fc-f9121d1d432e.png',
        'Footer'
    )



