extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0393102b-efee-d17f-1679-83b70abe2ee5.png',
        'Sodexo celebra a los pequeños'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/72f35f8c-4048-705a-679b-5e24c97a73f8.png',
        'Olive Garden Italian Kitchen',
        'https://bit.ly/3KrfnOc'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/18c8c1ac-ff30-29b2-0cee-a9cd9fa9b52e.png',
        'Sushiroll',
        'http://bit.ly/3KNOq8U'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/005ef5f3-d601-2cff-bcb5-f8178d3f19d7.png',
        'Mejor Wings',
        'http://bit.ly/3UrqHhQ'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/39c9a941-a6df-ea75-7097-83fbaa25830e.png',
        'Farmacias México',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c1913edc-a4dc-ce82-aca5-68a26212dc39.png',
        'Súper 8',
        'https://blog.sodexo.com.mx/promociones'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/de5161bb-b022-3942-b488-812dec1c44ce.png',
        'ChacMool',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/85c23010-eec0-b3cb-e948-f5d8b6f804e0.png',
        'Súper frutería Paraiso Rangel',
        'http://bit.ly/3Ut57cL'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b4701a00-eafe-889f-ec38-7cd89c64dfba.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/03b73450-60b6-275e-e7fc-f9121d1d432e.png',
        'Footer'
    )



