extends ../template/main
append variables 
    - pathImage = ''
block content

    
    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0393102b-efee-d17f-1679-83b70abe2ee5.png',
        'Sodexo celebra a los pequeños'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/00a60e55-6998-96f6-dbfa-4c0a00a18be6.png',
        'El Florido abarrotes y carnes',
        'http://bit.ly/40X0Wbz'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/72f35f8c-4048-705a-679b-5e24c97a73f8.png    ',
        'Olive Garden Italian Kitchen',
        'https://bit.ly/3KrfnOc'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/005ef5f3-d601-2cff-bcb5-f8178d3f19d7.png',
        'Mejor Wings',
        'http://bit.ly/3UrqHhQ'
    )

    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1295a747-e48f-39f3-c2f6-39e2f7cc13a5.png',
        'Norson calidad en carne de cerdo',
        'http://bit.ly/3mpZVdb',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ff23f6c5-c274-c0fa-e28b-f90f82ac52ad.png',
        'Norson calidad en carne de cerdo',
        'http://bit.ly/3mpZVdb',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b793390f-68a2-4e7a-7c58-4f19ce3a972f.png',
        'Supermercado El Dorado',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5baed6ac-59bb-1d5f-a816-fef551a9e4f1.png',
        'Santa Martha',
        'http://bit.ly/3ZYcOJg'
    )

    +SIX_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6e7c653b-0ede-b6f0-d6e3-2d83ca20334b.png    ',
        'Super RV carnes y abarrotes',
        'http://bit.ly/3mlgoQ2',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/101cf721-2809-e4e8-d6a2-b3b5d5cd6209.png',
        'Super RV carnes y abarrotes',
        'http://bit.ly/3mlgoQ2',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/753a5040-4472-9776-4195-11863e055b7b.png',
        'Super RV carnes y abarrotes',
        'http://bit.ly/3mlgoQ2',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/330e038e-6052-5949-8b63-aae1e1ac8b62.png',
        'Super San Antonio',
        'http://bit.ly/3o2LBb8',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1ef725f3-4c58-ca6a-f91b-ce22c1330471.png',
        'Abarrotes Lesly',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/30088290-d5c9-90a3-ec13-4cdb7b4d2c99.png',
        'Abarrotes Lesly',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b01931f4-4732-717b-9400-6e5396993ebb.png',
        'Super Ramos',
        'https://blog.sodexo.com.mx/promociones'
    )

    +SIX_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/06631250-846f-6582-140b-16d70cf564fe.png',
        'Super La canasta',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5c8ee2d0-ac72-d926-2c00-826fc820494d.png',
        'Super La canasta',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/db03fd30-083f-59e9-7f5a-4cf148e85aaa.png',
        'Super La canasta',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/56d90928-aa96-e428-1fa2-41c3c029bf97.png',
        'Central de dulces',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b088801e-75d3-b1c1-ad62-118edbc23a24.png',
        'Frutería 4 caminos',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/37a10ade-cad1-a1ed-ccd3-7d8ea4472f24.png',
        'Frutería 4 caminos',
        'https://blog.sodexo.com.mx/promociones'
    )

    +SIX_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c0ea40cc-96ef-3dd4-6061-1816ec8b51a6.png',
        'Frutería Madrid',
        'http://bit.ly/403WWoy',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d65894d6-0a0d-4a66-e167-7fc2c4ad3882.png',
        'Frutería Madrid',
        'http://bit.ly/403WWoy',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/708bb825-efb3-c23d-9e2c-6fb8fa139347.png',
        'Mirador',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3405b355-70da-6b41-e9d9-338a44574ad2.png',
        'García',
        'http://bit.ly/43zSgtI',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0dbc4fe6-c173-2084-2875-273d6fc40b88.png',
        'Stocker carnicería, abarrotes, licores',
        'http://bit.ly/3KvQQaI',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0366a088-a615-39a1-e782-447809fdfd09.png',
        'Stocker carnicería, abarrotes, licores',
        'http://bit.ly/3KvQQaI'
    )   

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b4701a00-eafe-889f-ec38-7cd89c64dfba.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/03b73450-60b6-275e-e7fc-f9121d1d432e.png',
        'Footer'
    )


    
