extends ../template/main
append variables 
    - pathImage = ''
block content

    
    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a7ef971e-90cc-97f1-ff63-4d92b1a5030e.png',
        'El Florido',
        'http://bit.ly/40X0Wbz'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/78c96422-c9ca-7001-9b42-f8cc6b62d153.png',
        'Olive Garden',
        'https://bit.ly/3KrfnOc'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7921fcdb-97fd-0d86-402c-e7ae7cd1b375.png',
        'Mejor Wings',
        'http://bit.ly/3UrqHhQ'
    )

    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/493773f9-7df5-f8c6-84be-92962661dade.png',
        'Norson calidad en carne de cerdo',
        'http://bit.ly/3mpZVdb',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/671e08b1-86dd-7881-7691-d7db04d64c6d.png',
        'Norson calidad en carne de cerdo',
        'http://bit.ly/3mpZVdb',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/81bf695f-b25d-42c6-206e-7fa29ad159aa.png',
        'Supermercado El Dorado',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e426d6cb-cee0-e633-e3b4-2dc7590d1c82.png',
        'Santa Martha',
        'http://bit.ly/3ZYcOJg'
    )
    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1411b4e4-a175-5234-654e-1bc530b1655a.png',
        'Super RV',
        'http://bit.ly/3mlgoQ2',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ca8d6e19-5fec-fd16-6b82-948af426c739.png',
        'Super RV',
        'http://bit.ly/3mlgoQ2',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8cfdcc66-7764-9d79-1b47-b2cd052d1a57.png',
        'Super San Antonio',
        'http://bit.ly/3o2LBb8',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/53390383-438f-8358-c84f-139923edf0e4.png',
        'Abarrotes Lesly',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8a3e6ef3-09fd-b1ed-55a5-1b6bde17324e.png',
        'Superramos',
        'https://blog.sodexo.com.mx/promociones'
    )
    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5246188b-de9a-9e54-3b68-31f9e77ad576.png',
        'La canasta',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ebb290b5-d9fe-db5f-9a7e-b51ed0860394.png',
        'La canasta',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7717d349-ac17-2b88-b091-e970f7096115.png',
        'Central de dulces',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/62c76ef6-7056-7ebe-460d-564e0c4915a3.png',
        'Cuatro caminos',
        'https://blog.sodexo.com.mx/promociones'
    )

    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/9a5c143e-7f8f-a044-cb5c-b67a13bf254b.png',
        'Frutería Madrid',
        'http://bit.ly/403WWoy',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/aeb90d0d-b98b-d23a-ec9b-144fad675f8d.png',
        'Mirador',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/f5f65f3a-fe62-9a28-e5b9-680feab1d00e.png',
        'García',
        'http://bit.ly/43zSgtI',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d0bce804-3941-d9ab-2415-5e122c448795.png',
        'Stocker',
        'http://bit.ly/3KvQQaI'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0044dc7d-d931-a367-44b4-da131eab7ee7.png',
        'Sodexo Beneficios',
        'https://blog.sodexo.com.mx/promociones'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4947fa99-c575-30d0-9ec2-38023158d699.png',
        'Footer'
    )



    
