extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1b30f3d6-8663-f975-3da4-8d26e07568ba.png',
        'Olive Garden',
        'https://bit.ly/3KrfnOc'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a10fbc2a-2e42-3f9f-4e4b-dddc3a477d79.png',
        'Mejor wings',
        'http://bit.ly/3UrqHhQ'
    )

    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/419bf53e-e409-1002-83b5-a9034f781505.png',
        'Taag',
        'http://bit.ly/40ZNXpO',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/983c8f42-965a-1904-261b-4bd2f542402b.png',
        'Taag',
        'http://bit.ly/40ZNXpO',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/375471a8-f071-8c43-341d-03df6fa46b63.png',
        'Promanuez',
        'http://bit.ly/3KtSDNz',
       
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/93a36ab3-f6b2-c3f9-c32f-5cdd285c722b.png',
        'Riojas',
        'http://bit.ly/40QuOqd'
    )

    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/410a4039-8d97-0a55-278a-f172d04305e3.png',
        'Hilos y estambres',
        'http://bit.ly/3zSAEvr',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/01623604-23e0-3801-73de-20968d988339.png',
        'Hilos y estambres',
        'http://bit.ly/3zSAEvr',
        
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/78184cc6-bf06-824b-2a09-e740d85bd661.png',
        'EL titán',
        'https://blog.sodexo.com.mx/promociones',
        
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1cc33366-f58b-b101-7605-f9d85abae018.png',
        'Super Muñóz',
        'https://blog.sodexo.com.mx/promociones'
        
    )

    +FIVE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d0a786c6-dae0-4908-6ce1-904c8e32675a.png',
        'La mejor',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b76c6c79-7754-7079-6618-a79b93527914.png',
        'La mejor',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/917f60b3-f0a5-4681-fc31-b86ee17beaa2.png',
        'La mejor',
        'https://blog.sodexo.com.mx/promociones',
       
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e26c7a6c-a730-d83d-a194-0e8dff325aeb.png',
        'Reyes',
        'http://bit.ly/3nSAHED',
        
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8569e774-0b65-498f-8de5-7c287fc1aefb.png',
        'Centrovalle',
        'http://bit.ly/3Mz76dB'
        
    )


    +FIVE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/cb431b61-5d6b-d1b8-a534-4597dc8e2cec.png',
        'Altiplano',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/678dce1c-92e6-8e25-7e3d-45880f1e160d.png',
        'Altiplano',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2ee48c42-fed6-c3ac-3167-e540bc624f6a.png',
        'Altiplano',
        'https://blog.sodexo.com.mx/promociones',
       
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7da3e7d1-1a1f-691b-5933-0203fd736814.png',
        'El rincón',
        'http://bit.ly/3MAtWlh',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a55c449f-3bd6-8bdc-4da4-208d8ecc5a4d.png',
        'El rincón',
        'http://bit.ly/3MAtWlh'
        
    )

    +FIVE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/588c5546-b758-a524-ade7-cb59226c1e01.png',
        'Rodriguez',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/88149f74-8326-c70d-38ce-583ac7b457e6.png',
        'Rodriguez',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c5dac9e1-2f6a-2aac-398b-cdcfa69fcee9.png',
        'Rodriguez',
        'https://blog.sodexo.com.mx/promociones',
    
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c9818f40-7b94-742d-1409-039055f4b664.png',
        'Clahesa',
        'http://bit.ly/3mricH8',
    
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6555a5f1-56ca-7b62-e8d0-b2ed5e3012e7.png',
        'La roca',
        'https://blog.sodexo.com.mx/promociones'
    
    )

    +FIVE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/926dc59d-c97e-30bd-fbcd-82e81ae12914.png',
        'La probadita',
        'http://bit.ly/3GAbZ2j',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/52f8321e-9f1d-6f55-89af-b9bc171b0cbb.png',
        'La probadita',
        'http://bit.ly/3GAbZ2j',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/cf34bfcc-f940-9520-3abb-8c306878768f.png',
        'La probadita',
        'http://bit.ly/3GAbZ2j',
        
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/24938290-5084-8bb4-79cc-1744c046a634.png',
        'Juárez',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/08e07c94-d816-ae96-c9c9-5c7ead249974.png',
        'Juárez',
        'https://blog.sodexo.com.mx/promociones'
        
    )

    +SIX_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7253939b-5a84-15a4-ef35-b93915edbcb6.png',
        'San Gemo',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/05058b20-ee02-f4af-627e-5d0a943aebea.png',
        'San Gemo',
        'https://blog.sodexo.com.mx/promociones',

        'https://mcusercontent.com/f8003344e5055720b1568282f/images/f6758905-88c7-b8c4-a8f0-f7dad5ec304e.png',
        'San Gemo',
        'https://blog.sodexo.com.mx/promociones',
        
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e9d98f72-7a2f-980e-8908-fa6d6d491c6a.png',
        'Luna y estrella',
        'https://blog.sodexo.com.mx/promociones',
        
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/9cfa1e70-34a6-8c71-5380-099ac18edbf3.png',
        'Las villas',
        'http://bit.ly/3GXlzgb',
        
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/55942bcf-a41a-e7e8-a508-934c9e8a72ed.png',
        'Bautista',
        'https://blog.sodexo.com.mx/promociones'
        
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8f4ca85c-acbb-0bbb-1a40-f8d6d4f262bb.png',
        'Disfruta los beneficios Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c8d71659-e7de-7223-cc27-b239ce1e1fb1.png',
        'Footer'
    )



