extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2704e836-5696-94f8-daf5-813b101ad5b5.png',
        'Sodexo celebra a los pequeños'
    )

    +HERO_BANNER_URL(
        'img/noroeste_garden.png',
        'Olive Garden',
        'https://bit.ly/3KrfnOc'
    )

    +HERO_BANNER_URL(
        'img/noroeste_wings.png',
        'Mejor wings',
        'http://bit.ly/3UrqHhQ'
    )

    +THREE_HERO_BANNER_URL_CUSTOMSIZE(
        '',
        'img/noroeste_taag.png',
        'Taag',
        'http://bit.ly/40ZNXpO',
        '640',
        'img/noroeste_promanuez.png',
        'Promanuez',
        'http://bit.ly/3KtSDNz',
        '224',
        'img/noroeste_riojas.png',
        'Riojas',
        'http://bit.ly/40QuOqd',
        '336'
    )

    +THREE_HERO_BANNER_URL_CUSTOMSIZE(
        '',
        'img/noroeste_estambres.png',
        'Hilos y estambres',
        'http://bit.ly/3zSAEvr',
        '640',
        'img/noroeste_titan.png',
        'EL titán',
        'https://blog.sodexo.com.mx/promociones',
        '224',
        'img/noroeste_munoz.png',
        'Super Muñóz',
        'https://blog.sodexo.com.mx/promociones',
        '336'
    )

    +THREE_HERO_BANNER_URL_CUSTOMSIZE(
        '',
        'img/noroeste_mejor.png',
        'La mejor',
        'https://blog.sodexo.com.mx/promociones',
        '640',
        'img/noroeste_reyes.png',
        'Reyes',
        'http://bit.ly/3nSAHED',
        '224',
        'img/noroeste_centrovalle.png',
        'Centrovalle',
        'http://bit.ly/3Mz76dB',
        '336'
    )

    +TWO_HERO_BANNER_URL_CUSTOMSIZE(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/32eac5d9-6dcc-6ee9-3428-6c1340144be8.png',
        'Altiplano',
        'https://blog.sodexo.com.mx/promociones',
        '800',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/708d5da1-e5dc-d718-55c0-089b82889246.png',
        'El rincón',
        'http://bit.ly/3MAtWlh',
        '400'
    )

    +THREE_HERO_BANNER_URL_CUSTOMSIZE(
        '',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/bdce634a-b050-3a37-74a6-e99d83980f0c.png',
        'Rodriguez',
        'https://blog.sodexo.com.mx/promociones',
        '640',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6e4ffd0d-8dc3-8666-d3e4-0b48e29d1dc4.png',
        'Clahesa',
        'http://bit.ly/3mricH8',
        '224',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4fbb6231-cc79-a854-7f88-a06cf52ad82c.png',
        'La roca',
        'https://blog.sodexo.com.mx/promociones',
        '336'
    )

    +TWO_HERO_BANNER_URL_CUSTOMSIZE(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/86f69883-f679-b735-f5aa-dbe357a975ed.png',
        'La probadita',
        'http://bit.ly/3GAbZ2j',
        '800',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e6223cd2-85eb-2eb8-a2de-20f87dffe774.png',
        'Juárez',
        'https://blog.sodexo.com.mx/promociones',
        '400'
    )

    +FOUR_HERO_BANNER_URL_CUSTOMSIZE(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e2fba35f-7c57-889f-e9da-b287d9c08318.png',
        'San Gemo',
        'https://blog.sodexo.com.mx/promociones',
        '610',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/44db29cf-6fb3-f2bf-21f5-47080a734174.png',
        'Luna y estrella',
        'https://blog.sodexo.com.mx/promociones',
        '188',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2d7c410c-a9cf-e8bf-acc3-6f28ef00d1b3.png',
        'Las villas',
        'http://bit.ly/3GXlzgb',
        '142',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/04fdc224-6f36-3325-8104-c8af0fd6f95a.png',
        'Bautista',
        'https://blog.sodexo.com.mx/promociones',
        '260'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e8374c47-ae6d-d492-d8ca-73b99336ae94.png',
        'Disfruta los beneficios Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/51c4b065-28a1-a9bd-39b7-fce98258b7bb.png',
        'Footer'
    )



