extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0393102b-efee-d17f-1679-83b70abe2ee5.png',
        'Sodexo celebra a los pequeños'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/72f35f8c-4048-705a-679b-5e24c97a73f8.png',
        'Olive Garden Italian Kitchen',
        'https://bit.ly/3KrfnOc'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/005ef5f3-d601-2cff-bcb5-f8178d3f19d7.png',
        'Mejor Wings',
        'http://bit.ly/3UrqHhQ'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6dccac88-d321-ca5a-ea0f-cff361a1e6d0.png',
        'La Esperanza super',
        'http://bit.ly/3UqfCxA',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4c97cc8f-010a-53b0-6a92-c909ec850530.png',
        'Carnicería y frutería La Mejor',
        'https://blog.sodexo.com.mx/promociones'
    )

    +TWO_HERO_BANNER_URL(   
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1a26ba12-7c44-e6bf-36fc-e596a0d7e52d.png',
        'Cárnicos don Julio',
        'http://bit.ly/3Kut92t',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a10ac8ae-324c-fcb2-91b8-0e41b126f6d9.png',
        'Okis',
        'http://bit.ly/3UuNtpm'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ae6c47f2-44de-0bcd-2a4c-c0bd467238bd.png',
        'Super Salas',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b4701a00-eafe-889f-ec38-7cd89c64dfba.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/03b73450-60b6-275e-e7fc-f9121d1d432e.png',
        'Footer'
    )



