-
    let pathImage = ''
    let pathImageHeadFoo = 'https://blog.sodexo.com.mx/hubfs/NewsletterMarzo2022ConsumidorCliente/'

    let header = 'sdx_header.png'
    let headerAlt = 'Sodexo, abril 2022 | Experiencias'

    let footerAlisaPaz = 'sdx_footer_alisa_paz.png'
    let footerAlisaPazAlt = 'Alisa Paz'
    
    let footerVeraCortes = 'sdx_footer_vera_cortes.png'
    let footerVeraCortesAlt = 'Vera Cortés'
    
    let gifConsumidores = 'sodexo-newsletter-abril-consumidor-hero-banner-crea-momentos-unicos.gif'
    let gifConsumidoresAlt = '¡Crea momentos únicos!'
    
    let gifClientes = 'sodexo-newsletter-abril-cliente-hero-banner-fortalece-tu-negocio-y-hazlo-crecer.gif'
    let gifClientesAlt = '¡Prepara a tu empresa para ser la mejor!'
    
    let gifMovilidad = 'sdx_hero_banner_movilidad.gif'
    let gifMovilidadAlt = 'La movilidad, un tema de todas y todos'

    let socialFb = 'sdx_footer_fb.png'
    let socialFbAlt = '@SodexoMx'
    let socialFbUrl = 'https://www.facebook.com/SodexoMx'

    let socialTw = 'sdx_footer_tw.png'
    let socialTwAlt = '@SodexoMx'
    let socialTwUrl = 'https://twitter.com/sodexomx'
    
    let socialIg = 'sdx_footer_ig.png'
    let socialIgAlt = '@SodexoMx'
    let socialIgUrl = 'https://www.instagram.com/sodexomx/?hl=es'
    
    let imgWp = 'sxd_footer_wp.png'
    let imgWpAlt = 'www.sodexo.com.mx'
    let imgWpUrl = 'https://sodexo.com.mx/'
    
    let logo = 'sodexo_logo.png'

    let experiencias = 'sdx_experiencias.png'
    let experienciasAlt = 'sdx_experiencias.png'

    let colorBlue = '#198CCA'
    let colorBlueBg = '#E6F4FB'
    let colorPurple = '#815FB8'
    let colorPurpleBg = '#F4EFF9'
    let colorGreen = '#39A54A'
    let colorGreenBg = '#F1F8E8'
    let colorOrange = '#DF661A'
    let colorOrangeBg = '#FFF7EC'
    let colorPink = '#CA5580'
    let colorPinkBg = '#FCEDF3'
    let colorRed = '#FF0000'
    let colorRedBg = '#FFE6E6'
    let colorBrown = '#A2804E'
    let colorBrownBg = '#F7F3ED'
    let colorEmerald = '#228080'
    let colorEmeraldBg = '#E6F3F3'
    let colorBlueLight = '#1989C7'
    let colorBlueLightBg = '#E6F4FB'
    
    let colorMain = '#2A2667'

    let textTitulo = '14px'
    let textBody = '14px'