extends ../template/main
block content

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/11b1277b-d49a-58fa-c019-ded1d798a4ff.png',
        'Header'
    )
    +MARGIN(
        '10px'
    )

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1a057ad5-636c-dee9-cacf-aed87d26dc09.png',
        'Impulsemos mas oportunidades para las mujeres de la industria'
    )
    +MARGIN(
        '10px'
    )

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e1bd6360-7100-4640-7ff4-b43ed51ecea3.png',
        'Se acerca el día del niño'
    )
    +MARGIN(
        '10px'
    )

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2ff04baa-0055-b244-e62b-5c1b1b338270.png',
        'Nuevos ingresos'
    )

    