extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2f308252-3cc7-7dba-6096-9c8a4ec55c8e.png',
        'Se vienen cambios importantes en nuestras plataformas'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e3273d6b-d4f8-905f-b5a9-8e0a59379165.png',
        'Tarjetas SODEXO'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/96590ac5-db18-1b66-004a-67ecbdb27dd3.png',
        'Footer'
    )





