extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3d3e4301-5a75-f3c4-b021-3014c9a697bf.png',
        'Estamos muy cerca de la meta'
    )





