extends ../template/main
append variables 
    - pathImage = ''
block content

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/bannerv1.png',
        'Sodexo'
    )
    +MARGIN(
        '10px'
    )
    
    +TEXT(
        '<p style="font-size: 1.1rem; line-height: 25px; color: #2A2763; max-width: 600px;">En Sodexo estamos llevando a cabo una <b>transformación <br> digital</b> en nuestros procesos, es por eso por lo que,<br> estaremos migrándonos del sistema <b>Vive Sodexo</b> a <br> nuestra nueva plataforma <b>Sodexo Suite,</b> para seguir <br> ofreciéndote experiencias excepcionales que hagan tus <br> procesos de compra ¡Mucho + ágiles, seguros y eficientes!</p><br><br> <img src= "https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/logoSdx.png">'
    )

    +TEXT(
        '<h1 style=" line-height: 25px; color: #FF0000;"><b>¡Así de fácil tendrás acceso <br> a todos tus servicios!</b></h1>'
    )
    //- +HERO_BANNER_PADD(
    //-     'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/textov1.png',
    //-     'Sodexo'
    //- )

    +MARGIN(
        '50px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/icons.png',
        'Sodexo'
    )

    //- ICONS
    //- table(border="0", cellpadding="0", cellspacing="0", width="100%" role="presentation" style="max-width: 600px; mso-table-lspace: 0; mso-table-rspace: 0;")
    //-     tr
    //-         td(width="200" align="center" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
    //-             a(href=`https://youtu.be/7Wib5BefDaw` rel="noopener" target="_blank") 
    //-                 img(src=`img/icon1.png`, style="max-width: 200px; width: 100%; height: auto;", width="100%", height="auto", alt=`icon`)
    //-         td(width="200" align="center" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
    //-             a(href=`https://youtu.be/3r0yzM1r5bc` rel="noopener" target="_blank") 
    //-                 img(src=`img/icon2.png`, style="max-width: 200px; width: 100%; height: auto;", width="100%", height="auto", alt=`icon`)
    //-         td(width="200" align="center" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
    //-             a(href=`https://youtu.be/FmGg3gBTRsY` rel="noopener" target="_blank") 
    //-                 img(src=`img/icon3.png`, style="max-width: 200px; width: 100%; height: auto;", width="100%", height="auto", alt=`icon`)
    //-     tr
    //-         td(width="200" align="center" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
    //-             a(href=`https://youtu.be/sgU4T0Me61M` rel="noopener" target="_blank") 
    //-                 img(src=`img/icon4.png`, style="max-width: 200px; width: 100%; height: auto;", width="100%", height="auto", alt=`icon`)
    //-         td(width="200" align="center" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
    //-             a(href=`https://youtu.be/nmG8Sjw8eXQ` rel="noopener" target="_blank") 
    //-                 img(src=`img/icon5.png`, style="max-width: 200px; width: 100%; height: auto;", width="100%", height="auto", alt=`icon`)
    //-         td(width="200" align="center" style="font-size: 0.001px; line-height: 1; mso-line-height-alt: 1%;")
    //-             a(href=`https://youtu.be/pdrCf1PGr5Q` rel="noopener" target="_blank") 
    //-                 img(src=`img/icon6.png`, style="max-width: 200px; width: 100%; height: auto;", width="100%", height="auto", alt=`icon`)
    

    +MARGIN(
        '50px'
    )
    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/SDX_SDXSuite-(3)_05.jpg',
        'Sodexo'
    )