extends ../template/main
append variables 
    - pathImage = ''
block content

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/2022-12-12_SDX_SDXSuite/herobanner_v2.png',
        'Sodexo'
    )
    
    +TEXT(
        '<p style="font-size: 20px; color: #EF661A; max-width: 600px; font-weight: 900">Beneficios</p>'
    )

    +MARGIN(
        '20px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/2022-12-12_SDX_SDXSuite/img1_v2.png',
        'Beneficios Sodexo'
    )

    +MARGIN(
        '20px'
    )

    +TEXT(
        '<a href="https://blog.sodexo.com.mx/blog/beneficios-fiscales-de-otorgar-vales-de-alimentos-a-tus-empleados" target="_blank" reel="noopener"><img src="https://blog.sodexo.com.mx/hubfs/2022-12-12_SDX_SDXSuite/btn_v2.png" width="100%" style="max-width: 320px"></a>'
    )

    +MARGIN(
        '20px'
    )

    +TEXT(
        '<p style="font-size: 12px; color: #2A295C; max-width: 600px;"><b>*Con base en el artículo 27 de ley de ISR que indica que los gastos de comedor son deducibles para la empresa por ser estrictamente imprescindibles para su actividad.</b></p>'
    )

    +MARGIN(
        '20px'
    )


    +HERO_BANNER(
        'img/footer_v2.png',
        'Footer Sodexo'
    )