extends ../template/main
append variables 
    - pathImage = ''
block content

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/2022-12-12_SDX_SDXSuite/herobanner_v1.png',
        'Sodexo'
    )
    +MARGIN(
        '20px'
    )
    
    +TEXT(
        '<p style="font-size: 18px; line-height: 25px; color: #283897; max-width: 600px; font-weight: 900">Tenemos una solución para cada necesidad, conoce los beneficios de contratar nuestras tarjetas</p>'
    )

    +MARGIN(
        '20px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/2022-12-12_SDX_SDXSuite/img1_v1.png',
        'Beneficios tarjetas Sodexo'
    )

    +MARGIN(
        '20px'
    )

    +TEXT(
        '<a href="https://blog.sodexo.com.mx/blog//ventajas-de-contratar-sodexo" target="_blank" reel="noopener"><img src="https://blog.sodexo.com.mx/hubfs/2022-12-12_SDX_SDXSuite/btn_v1-1.png" width="100%" style="max-width: 320px"</a>'
    )

    +MARGIN(
        '20px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/2022-12-12_SDX_SDXSuite/footer_v1.png',
        'Footer Sodexo'
    )