extends ../template/main
append variables 
    - pathImage = 'https://blog.sodexo.com.mx/hubfs/sdx-suite-nov/'
block content
    
    +HERO_BANNER(
        'nos-renovamos-para-ti.png',
        'Sodexo'
    )
    
    +CONTENT(
        '<br>¡Queremos seguir ofreciéndote experiencias excepcionales que hagan tus procesos de compra ¡mucho + ágiles, seguros y eficientes!<br><br><strong>A partir del 13 de diciembre de 2022</strong> podrás realizar tus operaciones y administrar tus servicios en nuestra nueva plataforma web<br><br><img src="https://blog.sodexo.com.mx/hubfs/sdx-suite-nov/sodexo-suite.png" alt="Sodexo suite" width="100%" style="max-width: 280px;"><br><br><strong>¡IMPORTANTE!</strong> Para que podamos realizar el proceso de migración a la nueva plataforma es indispensable que no tengas pedidos abiertos, ya que del 9 al 12 de diciembre, la plataforma <strong>Vive Sodexo estará inhabilitada</strong>.<br><br>'
    )
    
    +HERO_BANNER(
        'footer-sodexo.png',
        'Sodexo'
    )