extends ../template/main
append variables 
    - pathImage = ''
block content

    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/9270023e-e5ec-0b48-8844-96ee82b4e723.png',
        'LATAM N3WS'
    )
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/af35c719-b655-79ba-f52e-a9710023c4ab.png',
        'LATAM N3WS'
    )
    
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8caa728c-82f8-65a4-c479-efbde9109fd8.png',
        'LATAM N3WS'
    )
    
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a7626c3d-5ce3-afbf-9ac9-4e44940a928d.png',
        'LATAM N3WS'
    )