extends ../template/main
append variables 
    - pathImage = ''
block content

    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6f515a14-e0a6-d888-691d-8d1ae66d5ffc.png',
        'LATAM N3WS'
    )
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8d24c63c-d582-e7ff-36cd-989516f6c2ad.png',
        'LATAM N3WS'
    )
    
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/05428024-3223-cb9d-ddee-6c67f804ad76.png',
        'LATAM N3WS'
    )
    
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2739d84a-baff-6dc9-7716-91932b1b887a.png',
        'LATAM N3WS'
    )