extends ../template/main
append variables 
    - pathImage = ''
block content

    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3fe7f1bb-073c-3dfa-eec5-1b4917781d8f.png',
        'LATAM N3WS'
    )
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/32cecd84-10bd-bd20-a04b-8f671ea72249.png',
        'LATAM N3WS'
    )
    
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6b267795-948d-2f00-da8b-0e5979c68cdc.png',
        'LATAM N3WS'
    )
    
    +MARGEN(
        '30px'
    )
    
    +BANNER_960(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/97fe760a-e593-9bba-daa8-bc7393917d5f.png',
        'LATAM N3WS'
    )