extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4805ee7c-2eb9-a5d2-10d3-89ecddba5cdc.png',
        'Suburbia',
        'http://bit.ly/3GC4doF'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/63667377-4fac-0a37-e533-559f045a330b.png',
        'Devlin',
        'http://bit.ly/42ESrTP'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8f23a108-e553-a611-7c7d-9fd7ca5b82c3.png',
        'Cimaco',
        'http://bit.ly/3TPhG1R'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/cb6b78e2-94d1-5c25-a7cc-75e775349708.png',
        'Carniciería guerrero',
        'https://blog.sodexo.com.mx/promociones'
    )
    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/914e2e60-d640-88f8-6d1d-4ddb636ef2cb.png',
        'Car',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/fcbdf34f-d21b-dccb-f141-3b7114f52025.png',
        'El torito mega carnes',
        'http://bit.ly/3K6rxgw'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5c3bacfd-b14d-afa0-58f5-1a3bccac467b.png',
        'Carniciería Karla',
        'https://blog.sodexo.com.mx/promociones'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/bfa90824-8183-89ac-366b-aa9c73086c25.png',
        'Grupo comercial TESA',
        'https://blog.sodexo.com.mx/promociones'
    )
    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/34f5f4bf-52a5-737e-1fdc-9d8ca0344a41.png',
        'Grupo comercial Salomon',
        'http://bit.ly/3LXn0y6',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1bdac869-4d3d-83b6-bef3-d11b19494a86.png',
        'Vicsa',
        'https://blog.sodexo.com.mx/promociones'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/f5113127-8304-9d51-43a8-a6357fb2cc3b.png',
        'Mini super Flores',
        'https://blog.sodexo.com.mx/promociones'
    )
    +THREE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/860154cb-631f-b648-a6b9-f167c03917b0.png',
        'Frutería California',
        'http://bit.ly/3zbzrPf',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7410bf59-85d1-0d32-19cf-612238e27472.png',
        'Abarrotes Castillo',
        'http://bit.ly/40wztNx',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/27e21ded-ecca-95e6-bb9e-1cc19bd0fc9e.png',
        'Frutería La esquina',
        'https://blog.sodexo.com.mx/promociones'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/dce6bcfc-2d71-89fe-b948-19a1105b6ff4.png',
        'Promociones Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4b72b084-8f83-353d-8c7b-3a5535c8e174.png',
        'Footer'
    )