extends ../template/main
append variables 
    - pathImage = ''
block content

    
    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4805ee7c-2eb9-a5d2-10d3-89ecddba5cdc.png',
        'Suburbia',
        'http://bit.ly/3GC4doF'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/63667377-4fac-0a37-e533-559f045a330b.png',
        'Devlin',
        'http://bit.ly/42ESrTP'
    )
    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b2ec0009-8a76-88ae-ccba-e1d113306856.png',
        'Super La Bodeguita',
        'http://bit.ly/4062RdD',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b5cdd3cd-3e97-a4f1-736b-b8b84b9c135a.png',
        'Bodega Magdalena',
        'http://bit.ly/3TPkagH'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/dce6bcfc-2d71-89fe-b948-19a1105b6ff4.png',
        'Promociones Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4b72b084-8f83-353d-8c7b-3a5535c8e174.png',
        'Footer'
    )
    
    
