extends ../template/main
append variables 
    - pathImage = ''
block content

    
    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4805ee7c-2eb9-a5d2-10d3-89ecddba5cdc.png',
        'Suburbia',
        'http://bit.ly/3GC4doF'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/63667377-4fac-0a37-e533-559f045a330b.png',
        'Devlin',
        'http://bit.ly/42ESrTP'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3f899851-ebf8-c908-a8b6-18068860cf11.png',
        'Office Depot',
        'http://bit.ly/40g9slV'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/008854a5-11f4-4777-6634-11c9c758d8b8.png',
        'Radioshack',
        'http://bit.ly/3nnGXUz'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/dce6bcfc-2d71-89fe-b948-19a1105b6ff4.png',
        'Promociones Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4b72b084-8f83-353d-8c7b-3a5535c8e174.png',
        'Footer'
    )