extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4805ee7c-2eb9-a5d2-10d3-89ecddba5cdc.png',
        'Suburbia',
        'http://bit.ly/3GC4doF'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/63667377-4fac-0a37-e533-559f045a330b.png',
        'Devlin',
        'http://bit.ly/42ESrTP'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8f23a108-e553-a611-7c7d-9fd7ca5b82c3.png',
        'Cimaco',
        'http://bit.ly/3TPhG1R'
    )
    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ac0c935a-df3f-3693-bf84-8d9e9314ae00.png',
        'Frutería y carnicería Del sol',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7459646a-8faa-b769-2534-4e1b377b9736.png',
        'Compra mínima en Del ahorro super tiendas de descuento',
        'http://bit.ly/3TEhjHr'
    )
    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/670eaf03-e7af-4e7a-484e-43675851c4bc.png',
        'Gonzalez Plus',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e18665b1-e6eb-7292-669f-2264f5f01d32.png',
        'Del ahorro super tiendas de descuento',
        'http://bit.ly/3TEhjHr'
    )
    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/f1bb3c4b-6051-0765-d8e9-0bb000bcfe39.png',
        'Frutería y abarrotes Amisadai',
        'http://bit.ly/3K7XRiU',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/de9209b5-6af7-3640-45b2-76ccf59f786a.png',
        'Del Ahorro aniversario 20',
        'http://bit.ly/3TEhjHr'
    )
    +THREE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ab124544-ebdc-7982-20b8-e14988fbd7bc.png',
        'Super Mercado Jordan',
        'http://bit.ly/3lIzzTy',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ff6ed68c-e77a-dd2a-f985-8b0dbb51a301.png',
        'Capri carnes',
        'https://bit.ly/40hXpoe',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/578d5a47-09ca-e508-d34b-86bdd13dcb0a.png',
        'Minitas',
        'https://blog.sodexo.com.mx/promociones'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/dce6bcfc-2d71-89fe-b948-19a1105b6ff4.png',
        'Promociones Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4b72b084-8f83-353d-8c7b-3a5535c8e174.png',
        'Footer'
    )