include ../config/conf_variables
include ../config/conf_content
include ../mixins/content
include ../mixins/team
include ../mixins/ceo
include ../mixins/separators

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(lang="es" xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(http-equiv="control-cache" content="no-cache")
        title Viatris

    body

        center

            +img(
                'https://mcusercontent.com/f8003344e5055720b1568282f/images/56ba1965-f337-6aab-84c7-89064cf2fb2a.png',
                '800'
            )
            +img(
                'https://mcusercontent.com/f8003344e5055720b1568282f/images/ca24335a-f567-85ff-6382-f12cc71ee3ad.png',
                '800'
            )
            +img(
                'https://mcusercontent.com/f8003344e5055720b1568282f/images/ce95e521-8b91-3abd-aa21-21ea87148374.png',
                '800'
            )
            +img(
                'https://mcusercontent.com/f8003344e5055720b1568282f/images/e0860f32-1ae2-a802-a7e1-81aceebfbe4e.png',
                '800'
            )
            +img(
                'https://mcusercontent.com/f8003344e5055720b1568282f/images/5594279f-3689-f6a3-9b8d-75e020bb7558.png',
                '800'
            )
            +img(
                'https://mcusercontent.com/f8003344e5055720b1568282f/images/f06d13af-d165-a173-211f-93b590a835ff.png',
                '800'
            )
            +img(
                'https://mcusercontent.com/f8003344e5055720b1568282f/images/99a4fecb-0ee0-0f0d-3e13-d131364dc3b9.png',
                '800'
            )
          
            +img(
                'https://mcusercontent.com/f8003344e5055720b1568282f/images/66420a4b-2321-5ec7-13e0-ee8484a62ea6.png',
                '800'
            )