extends ../template/main
append variables 
    - pathImage = ''
block content

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/front01.png',
        'Sodexo'
    )
    
    +TEXT(
        '<h2 style="color: #19153D; font-size: 22px;">Descubre las claves para impulsar tu empresa</h2>'
    )

    +TEXT(
        '<p style="color: #19153D; font-size: 22px; line-height: 30px;">¡Aprovecha el último mes! Planifica y <br> <span style="font-weight: bolder; margin-top:20px;">#MejoraTuOrganización</span></p>'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/split01.png',
        'Sodexo'
    )

    +TEXT(
        '<h2 style="color: #2B256B; font-size: 22px; letter-spacing:1px;">Tipos de liderazgo empresarial</h2>'
    )

    +MARGIN(
        '10px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/img01.png',
        'Sodexo'
    )

    +MARGIN(
        '20px'
    )

    +TEXT(
        '<p style="color: #19153D; font-size: 100%; line-height: 30px;">Conoce las características de un buen líder y <br> cómo aplicarlas en 2023</p>'
    )

    +TEXT(
        '<a href="https://blog.sodexo.com.mx/blog/estilos-de-liderazgo" target="_blank" reel="noopener"><img width="100%" style="max-width: 150px" src="https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/btn01_lee.png"></a>'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/split02.png',
        'Sodexo'
    )

    +TEXT(
        '<h2 style="color: #2B256B; font-size: 22px; letter-spacing:1px;">¿Cómo tener colaboradores comprometidos?</h2>'
    )

    +MARGIN(
        '10px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/img02.png',
        'Sodexo'
    )

    +MARGIN(
        '20px'
    )

    +TEXT(
        '<p style="color: #19153D; font-size: 100%; line-height: 30px;">Descubre las estrategias para despertar el<br> interés de tu equipo</p>'
    )

    +TEXT(
        '<a href="https://blog.sodexo.com.mx/blog/compromiso-laboral" target="_blank" reel="noopener"><img width="100%" style="max-width: 150px" src="https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/btn02_aprende.png"></a>'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/split03.png',
        'Sodexo'
    )

    +TEXT(
        '<h2 style="color: #2B256B; font-size: 22px; letter-spacing:1px;">10 métodos creativos para motivar a tu equipo</h2>'
    )

    +MARGIN(
        '10px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/img03.png',
        'Sodexo'
    )

    +MARGIN(
        '20px'
    )

    +TEXT(
        '<p style="color: #19153D; font-size: 100%; line-height: 30px;">Los vales y beneficios nunca fallan, pero...<br> ¿Conocías estas otras formas de motivación?</p>'
    )

    +TEXT(
        '<a href="https://blog.sodexo.com.mx/blog/motivacion-laboral/" target="_blank" reel="noopener"><img width="100%" style="max-width: 150px" src="https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/btn03_descubrelas.png"></a>'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/split04.png',
        'Sodexo'
    )

    +TEXT(
        '<h2 style="color: #2B256B; font-size: 22px; letter-spacing:1px;">Tips para posadas y fiestas navideñas perfectas</h2>'
    )

    +MARGIN(
        '10px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/img04.png',
        'Sodexo'
    )

    +MARGIN(
        '20px'
    )

    +TEXT(
        '<p style="color: #19153D; font-size: 100%; line-height: 30px;">Comida, piñatas, ponche... ¡Esto es lo que no<br> puede faltar en tu posada empresarial!</p>'
    )

    +TEXT(
        '<a href="https://blog.sodexo.com.mx/blog/posada-empresarial" target="_blank" reel="noopener"><img width="100%" style="max-width: 150px" src="https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/btn04_miralos.png"></a>'
    )

    +MARGIN(
        '20px'
    )

    +HERO_BANNER(
        'https://blog.sodexo.com.mx/hubfs/newsletter%2029-11-2022/newsletter_sodexo_2022-19-12/footer.png',
        'Sodexo'
    )

    

