extends ../template/main
block content

    +ONE_COL_URL(
        'img/AMSO_MAILING_AISOFIPOS.png',
        'Impulsemos mas oportunidades para las mujeres de la industria',
        'https://us02web.zoom.us/meeting/register/tZ0pfuGgpjktH9zhdjsHcH075s56EZfLutMg'
    )


    