extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5356e87b-0cf6-557a-513d-52f70ea3b1ff.png',
        'WOW MOM',
        'https://bit.ly/44n11Yd'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e9f81738-f7cd-be39-ad0d-40dd8cdfb55c.png',
        'Chilis',
        'https://chilis.com.mx/'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/deb99820-ed2e-1c8d-2e74-7b5f580343bb.png',
        'San Juan salchichonerías',
        'https://www.facebook.com/SanJuanSalchichonerias?mibextid=ZbWKwL'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/420f574d-b0ba-09a8-48a3-fdfc59425851.png',
        'Kopla gasolineras',
        'https://www.happycard.mx/estaciones.php'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/62716b1a-4098-a247-2f34-1af232a8ae97.png',
        'Truck Stop',
        'https://www.facebook.com/TruckStopGas'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/f1e4d199-61ec-7975-6fa2-11795ca973d6.png',
        'Aurora BPMA30',
        'https://goo.gl/maps/9Cx99YjWpFykZKpq6'
    )
    

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/bbc73e0b-0b11-c071-5868-093e06d0e3b3.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones' 
    )





