extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/113f5cf0-8c0b-45e0-66c5-c0275c4c2240.png',
        'WOW MOM',
        'https://bit.ly/44n11Yd'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c1e42109-7ac2-4dad-b3ad-3d6b1da308f5.png',
        'Chilis',
        'https://chilis.com.mx/'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4f2d7924-b673-41d0-943d-b2710e63eacc.png',
        'Zapaterías Elite',
        'https://zapateriaselite.com/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0889369b-825b-6336-33c4-50396f2ffc3e.png',
        'Farmacias San José',
        'http://www.farmacias-sanjose.com.mx/'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e866e952-630c-5326-72c8-a7a419ed267e.png',
        'Mini abastos Abarrotes',
        'https://www.facebook.com/MiniAbastosOaxaca?mibextid=ZbWKwL',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/60cba810-5a81-f823-8c1f-8898dd98d727.png',
        'Casa Lupita',
        'https://www.facebook.com/abalupita?mibextid=ZbWKwL'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c01420bd-6d48-56a1-efbe-5b779e940860.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones'
    )





