extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/de0e2fa4-a24f-ec5b-4e45-93d779808b17.png',
        'WOW MOM',
        'https://bit.ly/44n11Yd'
    )

    +THREE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/506717cc-8f71-79c1-8e8a-d68f92ae461f.png',
        'Hasta 20% de descuento',
        'https://www.supersaladsmx.site/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/62484421-8e8d-7c3c-60fa-c2ac51af8c2a.png',
        'Super Salads',
        'https://www.supersaladsmx.site/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a2b3a8cb-acd7-f804-063b-82c3270c27e8.png',
        'Itza Mart',
        'https://www.facebook.com/izamart5demayo/'
    )


    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a1b09ab4-facd-fb11-d6b0-69f189463be7.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones'
    )





