extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/57d51bd7-8ec9-12bc-a98c-a06be702ba22.png',
        'WOW MOM',
        'https://bit.ly/44n11Yd'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/77f50b46-97aa-9580-da73-6768395ab0bd.png',
        'Super y frutería LBE',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d30663c8-5440-92dc-c267-2a9f969b3a82.png',
        'Aramburo',
        'https://www.facebook.com/aramburosupermercados?mibextid=ZbWKwL'
    )

    +FIVE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2827403d-f383-440a-990a-549a5dcd67ed.png',
        '20% de descuento',
        'https://www.supersaladsmx.site/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ec0e4e84-553c-31db-e2ce-86af6b5e2d95.png',
        'Super Salads',
        'https://www.supersaladsmx.site/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6e2a82b2-d617-7399-cada-008cb2738a0b.png',
        'Bmart supermercado',
        'https://www.facebook.com/profile.php?id=100082982150372&mibextid=ZbWKwL',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/389ca213-81df-9ccc-27d4-5216a8db9c7b.png',
        'Karvig',
        'https://www.facebook.com/superkarvig/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/80426f84-2d60-3663-485c-8cdd6a0ec3a8.png',
        'La grande',
        'https://www.facebook.com/SupermercadoLaGrande/'
    )
    
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/494e5f0d-3c11-7bc3-31f3-aad7a6ae8f4a.png',
        'Lugasa estaciones de servicio',
        'https://lugasaonline.com/sucursales/'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5c6dca41-697c-429d-76b4-1aba70acbb2d.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones'
    )





