extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0e068a65-f2b1-723d-6b7f-9158cc313009.png',
        'WOW MOM',
        'https://bit.ly/44n11Yd'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a234ba85-0195-6387-5661-c9adcb4cad48.png',
        'Carnicería el Origen',
        'https://es-la.facebook.com/Carniceria-El-Origen-Rio-Nilo-112665770231051/?hc_location=ufi'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3ca9d05b-b900-40a5-4d20-e571cca07c4f.png',
        'Kopla Gasolineras',
        'https://www.happycard.mx/estaciones.php',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/af26dc96-cac8-49af-14d4-310671f368d0.png',
        'GasoMich',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/20e1ee0d-db57-c86b-cbf3-356932fb99fc.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones'
    )





