extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ef066b9b-25bd-64b9-f1f3-e9303695c7f6.png',
        'WOW MOM',
        'https://bit.ly/44n11Yd'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e956fb9b-72ae-21b2-868c-ce685b3bf164.png',
        'Gran Chapur',
        'https://www.chapur.com.mx/'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6984092a-7457-105b-6464-32cc99b48fae.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas SODEXO',
        'https://blog.sodexo.com.mx/promociones'
    )





