extends ../template/main
block content

    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e17ad647-5ae4-c2f9-83a0-ed71430d94b0.gif',
        'Braskem News',
        'https://braskem.workplace.com/notes/176962618337073/'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/55abae69-0d5a-cea2-6fad-3a4534730950.png',
        'Power platform',
        'https://braskem.workplace.com/notes/176962791670389/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8ad281ec-bf97-ad93-854e-667ed13d2249.png',
        'Guía rápida compilance',
        'https://braskem.workplace.com/work/knowledge/645314133739464'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/83c61c76-97bf-3f42-0123-afd1f1a6634f.png',
        'Maestrías 2022',
        '',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/20073c47-9fe6-4a1a-ce29-d67af614a28e.jpg',
        'Orgullo Braskemers',
        'https://braskem.workplace.com/notes/176963378336997/'
    )

    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/453c4e82-08b0-a688-9e9b-2f334e374bd4.png',
        'To Do',
        'https://braskem.workplace.com/work/knowledge/638592584411619'
    )
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/89a20aa8-196b-0e6e-b1d3-9118d8a97afb.jpg',
        'Braskem'
    )