extends ../template/main
block content

    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e17ad647-5ae4-c2f9-83a0-ed71430d94b0.gif',
        'Braskem News',
        'https://braskem.workplace.com/notes/176962618337073/'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/55abae69-0d5a-cea2-6fad-3a4534730950.png',
        'Power platform',
        'https://braskem.workplace.com/notes/176962791670389/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8ad281ec-bf97-ad93-854e-667ed13d2249.png',
        'Guía rápida compilance',
        'https://braskem.workplace.com/work/knowledge/645314133739464'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/aa39ce5c-e887-7929-563a-b3e3829afdac.png',
        'Semana de la seguridad',
        'https://braskem.workplace.com/notes/176962881670380/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/82ac3580-677f-e864-1995-7ee26cc76769.png',
        'Sala de lactancia',
        'https://braskem.workplace.com/notes/176963045003697/'
    )
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d8c37e5d-8edf-4f74-a6b4-5cbfd3b96fd8.png',
        'Orgullo braskemers',
        'https://braskem.workplace.com/notes/176963378336997/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1809b51a-f084-2bc6-a75f-b9f6a53d0578.png',
        'Foro latinoamericano APLA',
        'https://braskem.workplace.com/notes/176963815003620/'
    )

    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7f5b16ea-c97b-2ed5-6142-060b700a71c9.png',
        'Maestrías 2022',
        ''
    )

    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/453c4e82-08b0-a688-9e9b-2f334e374bd4.png',
        'To Do',
        'https://braskem.workplace.com/work/knowledge/638592584411619'
    )
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/89a20aa8-196b-0e6e-b1d3-9118d8a97afb.jpg',
        'Braskem'
    )