extends ../template/main
block content

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/30c62a73-348a-4773-a2b0-0a72b195e653.png',
        'VIANews #47'
    )
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/082b69d6-4e7d-99a6-3362-d5946ecdeba0.png',
        'Iniciamos 2023 con mucha fuerza'
    )    

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3e6917b2-c438-7c2c-e105-3c5b9e43831e.png',
        'Nuevos ingresos'
    )

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c9d803d6-ad19-dfc2-ebd1-15396a2dd4e1.png',
        'Super empresas'
    )
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5507173e-02d5-7f9e-bec0-03b803c22473.png',
        'Felicidades'
    )

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/fb1ff32e-31a8-1f49-153e-5df574e58963.png',
        'Efemerides'
    )
    +MARGIN('16')
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/63e10d00-4490-cde4-0567-f4a5efda13f8.png',
        'Viatris'
    )