extends ../template/main
block content

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d080cd49-ddb5-4c3d-cb6e-b01d4a921498.png',
        'Header'
    )
    +MARGIN(
        '10px'
    )
    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2fc5f493-5890-e44a-b243-845fb312a7a7.png',
        'Tafil',
        'https://mcusercontent.com/f8003344e5055720b1568282f/files/53092cc9-1307-36bb-2e78-e6d210c689be/plan_tactico.pptx'
    )
    +MARGIN(
        '10px'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/bb04dbe2-5afa-b93b-7af6-bbceaac3e8a1.png',
        'Recuerda conectarte de la forma correcta a la VPN',
        'https://mcusercontent.com/f8003344e5055720b1568282f/files/a47b9cd7-56a3-a0aa-a1b2-65282dab7e5f/Conexio_n_VPN.pdf',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0dd4dccc-dc49-35f5-012c-e910a594d486.png',
        'Sincorniza my force',
        'https://mcusercontent.com/f8003344e5055720b1568282f/files/88163562-7512-0aad-3c7f-cbe0169e2b06/Como_Levantar_un_Ticket_MyForce.pdf'
    )

    +MARGIN(
        '10px'
    )

    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/25c6644e-73fc-212e-514e-ba66fa3a1aec.png',
        'Nuevos ingresos'
    )

    +MARGIN(
        '20px'
    )
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/40b28985-7e3f-29ee-1a51-1d9bbea7d1c0.png',
        'Footer'
    )
    