extends ../template/main
block content

    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6963e957-c30c-1c5e-44c4-1a74f1d6f83c.gif',
        'Braskem news',
        'https://braskem.workplace.com/notes/176962618337073/'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b46aa862-dd01-5b6b-b341-d3fad8777be3.png',
        'COE Power Platform',
        'https://braskem.workplace.com/notes/176962791670389/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/31c82e25-4d86-60c5-469e-93957187ac38.png',
        'Guía rápida de complance',
        'https://braskem.workplace.com/work/knowledge/645314133739464'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ea503114-f864-db05-749f-f2024e67b869.png',
        'Foro latinoamericano APLA',
        'https://braskem.workplace.com/notes/176963208337014/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a2320104-a487-0893-9be7-dde899125fe0.png',
        'Braskemers',
        'https://braskem.workplace.com/notes/176963378336997/'
    )

    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b25b00bb-02c9-db3c-5e55-2ee7e4bd7c12.png',
        'Convocatioria de maestrías 2022',
        'https://braskem.workplace.com/work/knowledge/487873932816819'
    )
    
    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/491d224d-9ce2-25d9-c171-170a695d3951.png',
        'Movimientos funcionales',
        'https://braskem.workplace.com/work/knowledge/638592584411619'
    )
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/89a20aa8-196b-0e6e-b1d3-9118d8a97afb.jpg',
        'Braskem'
    )