extends ../template/main
block content

    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6963e957-c30c-1c5e-44c4-1a74f1d6f83c.gif',
        'Braskem news',
        'https://braskem.workplace.com/notes/176962618337073/'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b46aa862-dd01-5b6b-b341-d3fad8777be3.png',
        'COE Power Platform',
        'https://braskem.workplace.com/notes/176962791670389/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/31c82e25-4d86-60c5-469e-93957187ac38.png',
        'Guía rápida de complience',
        'https://braskem.workplace.com/work/knowledge/645314133739464'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e137fcfd-8f33-7090-55c3-df7993cc4aaa.png',
        'STP',
        'https://braskem.workplace.com/notes/176962881670380/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/37c8269c-1097-c47e-6cc2-af92cc1feb60.png',
        'Sala de lactancia',
        'https://braskem.workplace.com/notes/176963045003697/'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/be9cb610-22ce-8b4b-d083-527964034782.png',
        'Braskemers',
        'https://braskem.workplace.com/notes/176963378336997/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b2a1c10c-7578-5508-99f0-a1557b066487.png',
        'Foro APLA',
        'https://braskem.workplace.com/notes/176963208337014/'
    )
    
    +TWO_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b6802a3d-dd93-07c3-90f4-fb15e3004701.png',
        'Felicidaes equipo',
        'https://braskem.workplace.com/notes/176963815003620/',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/230040bf-9401-a797-6aef-e093ed22adf9.png',
        'Convocatoria maestrías',
        'https://braskem.workplace.com/work/knowledge/487873932816819'
    )|
    +ONE_COL_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/491d224d-9ce2-25d9-c171-170a695d3951.png',
        'Movimientos funcionales',
        'https://braskem.workplace.com/work/knowledge/638592584411619'
    )
    
    +ONE_COL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/89a20aa8-196b-0e6e-b1d3-9118d8a97afb.jpg',
        'Braskem'
    ) 