extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2e2df5ce-b838-c0ed-061d-70e8a5ff8f24.png',
        'Tu tarjeta Sodexo es más de lo que ves',
        'https://blog.sodexo.com.mx/promociones'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/346f90a7-82a4-be6a-4ddb-ebe08ce7081e.png',
        'Italiannis',
        'https://bit.ly/3VBnrkM',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/477bef0d-9cba-29fb-54a9-2e205e95d758.png',
        'El globo',
        'https://bit.ly/3NEuuaf'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e7112af7-c933-b5aa-fb15-01dec8e0158c.png',
        'Elektra',
        'https://bit.ly/3ASfUoc',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/84b13776-c25f-0c3e-6c06-f263e4d1f9c0.png',
        'Comex',
        'https://bit.ly/3VsItSy'
    )

    +THREE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/038a8487-498b-47ac-e080-e9eed77b4b35.png',
        'Farmatodo',
        'https://bit.ly/3HDF4KW',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/72f6f126-c535-2fb8-390d-7b64fb5c84c7.png',
        'Farmatodo',
        'https://bit.ly/3HDF4KW',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6220b12e-0b08-0f78-42eb-dd5953c5a2d6.png',
        'Farmacias',
        'https://bit.ly/44t1FU4'
    )

    +THREE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/fed7254d-48c6-8259-57d0-a2d9c19db6c1.png',
        'Bonsai',
        'https://bit.ly/3LSk8lN',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3b55da2a-9d31-d020-b39a-12026971e65c.png',
        'Anforama',
        'https://bit.ly/3nuxDPa',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/cbf464f4-d463-b168-64d8-14260431ac82.png',
        'Coronel',
        'https://bit.ly/3p072Kd'
    )

    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/f03f9c51-a89c-8d86-bdb0-2c2f7f8d3df1.png',
        'Cash',
        'https://bit.ly/3LUxCha',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d73bcfb3-f180-a08d-1c10-2c5f14faf528.png',
        'Cash',
        'https://bit.ly/3LUxCha',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6116df3b-9532-2b76-7fec-df1540306461.png',
        'Cash',
        'https://bit.ly/3LUxCha',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/49537ac2-f8d0-b3ca-239f-4ba647fd0796.png',
        'Chac Mool',
        'https://blog.sodexo.com.mx/promociones'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/60bddce1-7701-deac-24c5-35fc516252ac.png',
        'SuperQ',
        'https://bit.ly/3LwE6Bf',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/73a05f6a-e6a6-2015-5976-b951df7e25ee.png',
        'San Juan',
        'https://bit.ly/3njdnQM'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/53f20709-9847-5d85-371b-c7807bcc4c52.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )






