extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/77dabb5c-fc84-46fb-a7c0-1a7f1b69d43c.png',
        'Tu tarjeta Sodexo es más de lo que ves',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a50fed27-8730-d4c0-2778-d03f1a26e702.png',
        'Servicios Guzmán',
        'https://bit.ly/3AP2OYP'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/6142a522-bc84-347e-519e-13e952a14da7.png',
        'La cuesta',
        'https://blog.sodexo.com.mx/promociones'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b1be4626-2f7d-3f32-448a-99151bd4df3a.png',
        'Kopla',
        'https://bit.ly/4454Wci',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5e33a838-3c8f-b9ff-24e1-5bc5fbedd6fd.png',
        'Gasomich',
        'https://blog.sodexo.com.mx/promociones'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/9ce285de-fb79-1e92-07de-e367076e6a66.png',
        'Lugasa',
        'https://bit.ly/40p1l5K'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7cc45830-4f40-ce63-1e02-0e950c0f73f5.png',
        'Truck Stop',
        'https://bit.ly/3KZ2yLj'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8a58a9e7-c66c-4b07-fdb6-796d80e7997b.png',
        'Aurora',
        'https://bit.ly/3N3QhI0'
    )
 
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/887c7b3e-aae8-b266-9757-a62f78f6c2f8.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )






