extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/84330bc9-19ef-8ffe-afbc-413690945ff0.png',
        'Tu tarjeta Sodexo es más de lo que ves',
        'https://blog.sodexo.com.mx/promociones'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1eef85fb-7739-0eaf-0a31-3347d9ac665d.png',
        'Itakiannis',
        'https://bit.ly/3VBnrkM',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/94b1fe98-f6ce-3234-5cb4-7987166068fd.png',
        'El globo',
        'https://bit.ly/3NEuuaf'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c00ed736-194b-7a52-1d50-b2f0d61f02e6.png',
        'Elektra',
        'https://bit.ly/3ASfUoc',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c2508633-68ba-c75e-90a6-1accbde5a1b1.png',
        'Comex',
        'https://bit.ly/3VsItSy'
    )

    +THREE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1dab2527-65dd-608c-4566-82f079071876.png',
        'López',
        'https://bit.ly/3VrFTfv',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7e3f9159-6cd9-6a2e-7f87-7f6ee7f91bbe.png',
        'López',
        'https://bit.ly/3VrFTfv',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/22470965-05ab-c403-0aaf-b0893ba9c996.png',
        'Farmatodo',
        'https://bit.ly/3HDF4KW'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/53e86201-b657-4c6d-4db8-956213c76e95.png',
        'Ayala Amaya',
        'https://bit.ly/3HCyl3J',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ce40b745-e579-655a-37e6-30c18259f032.png',
        'Del real',
        'https://bit.ly/42nky9q'
    )

    +EIGHT_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/9b81a8ff-99bc-bb2a-c50a-06a67051b33d.png',
        'Balderas',
        'https://bit.ly/3HBUNKw',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3d59f461-9f23-e8bd-ef34-c9d85297e053.png',
        'Balderas',
        'https://bit.ly/3HBUNKw',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d10b531f-30d3-1a8e-f698-cad026e0705e.png',
        'Balderas',
        'https://bit.ly/3HBUNKw',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/bc3398dd-f7ae-886a-cacf-8b359ed3de65.png',
        'Balderas',
        'https://bit.ly/3HBUNKw',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/cdfdd1ce-68ac-7a97-86f6-33239333cfad.png',
        'Valle hermoso',
        'https://blog.sodexo.com.mx/promociones',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/1e0f2abf-0e1c-a532-1c3d-ea74de0f7eda.png',
        'Ayala',
        'https://bit.ly/3Lytkun',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a13aa26d-c5f5-b8e2-827b-68a75ad94434.png',
        'Valles',
        'https://bit.ly/3LtPoWU',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b5086830-75d9-3f0a-0091-d81dc79f17a4.png',
        'Valles',
        'https://bit.ly/3LtPoWU'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/3df9cd53-11c1-be75-7b2b-2711e8bfb07b.png',
        'Central dulces',
        'https://bit.ly/3p9b9Ui',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5ce78489-eeaa-2573-ba7a-84da35bc7f22.png',
        'La esquina',
        'https://bit.ly/3ASF8CK'
    )

    +THREE_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2cda2bdb-4884-2da0-8a33-0da40573ecd5.png',
        'Cardenas',
        'https://bit.ly/3VwaRTM',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/620553af-6c31-2967-56aa-09462ac1ecbf.png',
        'La esmeralda',
        'https://bit.ly/44uyekS',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/95ba84ff-b2bf-c74b-aa76-44620a35ec14.png',
        'Super Salads',
        'https://bit.ly/4137sgc'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/ea681a9d-8978-05cd-9be6-de65f92978de.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )






