extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a760c907-d17b-edd1-7e4b-b86a5f042533.png',
        'Tu tarjeta Sodexo es más de lo que ves',
        'https://blog.sodexo.com.mx/promociones'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a6488684-b837-c91f-92bd-e4cc21dd7bee.png',
        'Itakiannis',
        'https://bit.ly/3VBnrkM',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c9f953d2-f517-d324-7ef2-af032d2979ec.png',
        'El globo',
        'https://bit.ly/3NEuuaf'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/03c03a0c-7b38-644c-634e-89fe287bdf34.png',
        'Elektra',
        'https://bit.ly/3ASfUoc',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/fc0a9ce7-378f-44b4-4c48-b87a3580e891.png',
        'Comex',
        'https://bit.ly/3VsItSy'
    )

    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/04f765a7-c610-f027-aa71-98d6827d6b91.png',
        'Farmatodo',
        'https://bit.ly/3HDF4KW'
    )

    +FOUR_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a0f905fb-5477-94aa-0b18-92f5322af1a1.png',
        'Violeta',
        'https://bit.ly/3ARcpOD',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/e269192f-c4d8-eb08-2f50-1eb12311304b.png',
        'Violeta',
        'https://bit.ly/3ARcpOD',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c3f22ca7-3752-d94f-afc5-6c0803148d96.png',
        'Okis',
        'https://bit.ly/3Vt1d48',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/cbd4c8bd-9e06-d3c7-6ede-dd482471dbd2.png',
        'Avila',
        'https://bit.ly/423dZZB'
    )

    +TWO_HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/242ef397-eebd-4166-7750-d56caf7b71c5.png',
        'Super Salads',
        'https://bit.ly/4137sgc',
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4cf376b6-a95c-c445-2c70-70696ccaab0a.png',
        'La cuarta',
        'https://bit.ly/421zSbX'
    )


    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/2cba8af5-03c1-8a22-ce5a-cb509d26f4cb.png',
        'Disfruta todos los beneficios y promociones de tus tarjetas Sodexo',
        'https://blog.sodexo.com.mx/promociones'
    )






