extends ../template/main
append variables 
    - pathImage = ''
block content


    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/9c358c37-df90-4ae4-34c7-504e1bcc0566.png',
        'Comunicado Afiliados'
    )





