extends ../template/main
append variables 
    - pathImage = ''
block content

    
    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/0cda7af0-90c9-1cb9-f9af-ec847fe9bedd.png',
        '¿Sabías que puedes deducir hasta un 100% el gasto de combustible para tu flota?'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/8c6d0911-8ee8-ad0d-fc7e-b29650c74f68.png',
        'Descubre cómo deducir tu gasolina',
        'https://blog.sodexo.com.mx/blog/como-deducir-tu-gasolina-te-decimos-todo-lo-que-necesitas-saber'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4e758aef-b9bf-3d8e-9879-6e26dde52dbe.png',
        'Footer'
    )
    
    
