extends ../template/main
append variables 
    - pathImage = ''
block content

    
    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b976a8b8-2620-9e46-3a37-51abd378a8d9.png',
        'Aplicar vales de gasolina en tu empresa ¡Te conviene!'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/c6251734-bdae-9805-fa0a-214710e06b6a.png',
        '¡Descubre más sobre el uso de vales de gasolina y cómo calcularlos!',
        'https://blog.sodexo.com.mx/blog/que-son-los-vales-de-gasolina-y-como-funcionan'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4e758aef-b9bf-3d8e-9879-6e26dde52dbe.png',
        'Footer'
    )
    
    
