extends ../template/main
append variables 
    - pathImage = ''
block content

    
    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/7cd72fb6-e0c4-14fc-dd15-6dbe511ff15a.png',
        '5 tips imperdibles para mejorar tu consumo de gasolina'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/5e1c2839-c746-1699-d395-314eb480dff0.png',
        '¿Conocías estos tips?',
        'https://blog.sodexo.com.mx/blog/control-de-combustible'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4e758aef-b9bf-3d8e-9879-6e26dde52dbe.png',
        'Footer'
    )
    
    
