extends ../template/main
append variables 
    - pathImage = ''
block content

    
    //- HERO BANNER
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/fcdc53b6-2fa3-8082-b597-e856936b9230.png',
        'Gestionamos tu gasolina mientras atiendes tu negocio'
    )
    +HERO_BANNER_URL(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a63632ac-83f1-a319-5029-556f4a166d68.png',
        'Optimiza los gastos de tu flota y deduce al 100% tu combustible',
        'https://blog.sodexo.com.mx/blog/ventajas-de-contratar-sodexo'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/4e758aef-b9bf-3d8e-9879-6e26dde52dbe.png',
        'Footer'
    )
    
    
