-
    let header = 'https://mcusercontent.com/f8003344e5055720b1568282f/images/6602e63d-28bf-42b4-89fd-8df0e45c86dd.png'
    let foo = 'https://mcusercontent.com/f8003344e5055720b1568282f/images/3c5120af-2009-4364-bc31-4323edfa4aa0.png'

    let textTitle = '#713f98'
    let textBody = '#2a2871'

    //- ancho de una hoja tamaño carta
    let wrapWidth = '792'