-

    //- --------- SP

    const SP_INTRO = [
        'Estimados colegas:',
        'Como parte de las acciones que estamos llevando a cabo para impulsar nuestro crecimiento en México, seguimos fortaleciendo al equipo y ajustando las actividades en pro de nuestro éxito.',
        'Por ello, les informo que a partir de esta fecha, Juan Carlos Murgueitio, asumirá de manera interina el liderazgo del área de Marketing, adicionalmente a sus responsabilidades actuales de Director Comercial. Estamos seguros de que su experiencia y conocimiento nos permitirán fortalecer nuestras estrategias para llegar al mercado, al mismo tiempo que le brindamos a nuestros colegas del área el respaldo necesario para su desarrollo.',
        'Para ayudar en esta transición, informamos también que Kevin Hellstern asumirá de forma interina el liderazgo del equipo institucional, adicionalmente a sus funciones como Retail Lead.',
        'Agradezco de antemano a todo el equipo su apoyo y compromiso.',
        'Atentamente,',
        //- '<strong>Rogerio Peso</strong><br>Director General Viatris México',
    ]