extends ../template/main
append variables 
    - pathImage = ''
block content

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/67e87b94-6f09-dc43-86bd-b9d4c99c58ff.png',
        'Header'
    )

    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/a6e87a71-f593-d2f3-2bbc-e5b88bfd678f.png',
        'Rogerio'
    )

    +MARGIN(
        '10px'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/9253eddd-b2ae-1a6f-8b9e-b296e9cfb1c5.png',
        'Certificados'
    )

    +MARGIN(
        '10px'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/b03eb2ce-8c56-d235-2e6e-57b91e723b48.png',
        'Nuevos Ingresos'
    )

    +MARGIN(
        '10px'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/81438dc2-ea7f-d48b-3165-ec7fbc9ebca9.png',
        'Reconocimos'
    )

    +MARGIN(
        '10px'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/d3121468-8247-436c-c025-f9ac377f1a32.png',
        'Medicina'
    )

    +MARGIN(
        '10px'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/418eeb0e-4677-55f8-353e-3b363cabd63a.png',
        'All for One'
    )

    +MARGIN(
        '10px'
    )
    +HERO_BANNER(
        'https://mcusercontent.com/f8003344e5055720b1568282f/images/80ad63af-5fc1-b6b0-159e-2bee06514f8c.png',
        'Felicidades colegas'
    )




